.root {
  @apply sticky top-0 z-40 transition-all duration-150 bg-primary;
  min-height: 74px;
}

.nav {
  @apply relative flex flex-row justify-between py-4 md:py-4;
}

.navMenu {
  @apply hidden ml-6 space-x-4 lg:block;
}

.link {
     @apply relative z-10 flex items-center pt-px -mb-px text-sm font-medium transition duration-200 ease-in-out border-b-2 border-transparent hover:text-gray-800;
}

.link:hover {
  @apply text-accent-9;
}

.link:focus {
  @apply outline-none text-accent-8;
}

.logo {
  @apply duration-100 ease-in-out transform border rounded-full cursor-pointer;

  &:hover {
    @apply shadow-md;
    transform: scale(1.05);
  }
}
