.root {
  @apply relative text-sm text-base transition-colors duration-150 border bg-accent-0 border-accent-2;
}

.input {
  @apply px-3 py-2 pr-10 transition duration-150 ease-in-out bg-transparent appearance-none;
}

.input::placeholder {
  @apply text-accent-3;
}

.input:focus {
  @apply outline-none shadow-outline-normal;
}

.iconContainer {
  @apply absolute inset-y-0 right-0 flex items-center pr-3 pointer-events-none;
}

.icon {
  @apply w-5 h-5;
}

@screen sm {
  .input {
    min-width: 300px;
  }
}
